<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Balance</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <th scope="row">{{account.id}}</th>
      <td> {{account.label}}</td>
      <td> {{account.balance}}</td>

      <td>
        <button type="button" class="btn btn-primary" (click)="openAccountDetails(account.id)">Open</button>

      </td>
    </tr>

    </tbody>
  </table>
</div>
