!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>


<p th:text="#{${employee.firstName}}"> Bonjour {0},</p>

<p> Veuillez vous connecter à l'intranet de votre société, depuis l'adresse suivante afin de saisir vos temps du mois en
    cours.</p>
<p>Merci de ne pas répondre à cet email.</p>

</body>
</html>